<div class="dia-container">
  <h1 class="dia-title">{{title}}</h1>
  <div class="dia-main">
    <div class="dia-sidebar"><app-navigation [current]="pageKind"></app-navigation></div>
    <div class="dia-content" [class]="styling">
      <div class="dia-content-container">
        <p class="quote">{{quote}}</p>
      </div>
    </div>
    <div class="dia-sidebar"><app-pagination [page]="page"></app-pagination></div>
  </div>
</div>