<ion-content>
  <div id="container">
    <ion-slides>
      <ion-slide>
        <app-quote page="1" [pageKind]="pageKind" title="Mock" quote="Van mock naar realiteit" styling="red"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-quote page="2" [pageKind]="pageKind" title="CV-tool" quote="Interne gegevens" styling="blue"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-quote page="3" [pageKind]="pageKind" title="Live" quote="Live gaan" styling="white"></app-quote>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
