<ion-content>
  <div id="container">
    <ion-slides>
      <ion-slide>
        <app-image page="1" [pageKind]="pageKind" title="Inhoudstafel" image="stage-inhoudstafel.png"></app-image>
      </ion-slide>
      <ion-slide>
        <app-quote page="2" [pageKind]="pageKind" title="Allocate to integrate platform" quote="Bedrijfsvoorstelling" styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-image page="3" [pageKind]="pageKind" title="Bedrijfsvoorstelling" image="bewire-bedrijf.png"></app-image>
      </ion-slide>
      <ion-slide>
        <app-quote page="4" [pageKind]="pageKind" title="Allocate to integrate platform" quote="Probleemstelling" styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-image page="5" [pageKind]="pageKind" title="Probleemstelling" image="stage-probleem.png"></app-image>
      </ion-slide>
      <ion-slide>
        <app-quote page="6" [pageKind]="pageKind" title="Allocate to integrate platform" quote="Doel" styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-image page="7" [pageKind]="pageKind" title="Doel" image="stage-doel.png"></app-image>
      </ion-slide>
      <ion-slide>
        <app-quote page="8" [pageKind]="pageKind" title="Allocate to integrate platform" quote="Technologie" styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-four-overview  page="9" [pageKind]="pageKind" [topics]="technologies" title="Technologie" hexagonColor="white" backgroundColor="blue"></app-four-overview>
      </ion-slide>
      <ion-slide>
        <app-quote page="10" [pageKind]="pageKind" title="Allocate to integrate platform" quote="Flow" styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-three-overview page="11" [pageKind]="pageKind" [topics]="flow" title="Flow" backgroundColor="white" hexagonColor="#7ed0dc"></app-three-overview>
      </ion-slide>
      <ion-slide>
        <app-topics-detail page="12" [pageKind]="pageKind" [topics]="flowOverview" backgroundColor="dark-grey" title="Flow"></app-topics-detail>
      </ion-slide>
      <ion-slide>
        <app-quote page="13" [pageKind]="pageKind" title="Allocate to integrate platform" quote="SalesForce" styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-detail page="14" [pageKind]="pageKind" background="blue" title="SalesForce">
          <ul>
            <li>SalesForce objecten</li>
            <li>Workflow</li>
            <li>Process builder</li>
            <li>Document generatie</li>
          </ul>
        </app-detail>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>