<svg *ngIf='type == "default"' id="svg-hexagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="250">
    <style>
        .size{
            font-size: 24px;
            font-weight: bold;
        }
    </style>
    <path [attr.stroke]="stroke" [attr.stroke-width]="strokeWidth" [attr.fill]="color" d="M115 5.7735026918963a20 20 0 0 1 20 0l88.253175473055 50.952994616207a20 20 0 0 1 10 17.320508075689l0 101.90598923241a20 20 0 0 1 -10 17.320508075689l-88.253175473055 50.952994616207a20 20 0 0 1 -20 0l-88.253175473055 -50.952994616208a20 20 0 0 1 -10 -17.320508075689l1.6230157441974e-13 -101.90598923241a20 20 0 0 1 10 -17.320508075689"></path>
    <image *ngIf='image != "" || image != "undefined"' width="250" height="250" [attr.xlink:href]="imagePath"/>
    <text *ngFor="let text of textData; let i = index" class="size" [attr.fill]="textColor" [attr.x]="x" [attr.y]="+y + (25 * i)">{{text}}</text>
</svg>
<svg *ngIf='type == "tablet"' id="svg-hexagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
    <path [attr.stroke]="stroke" [attr.stroke-width]="strokeWidth" [attr.fill]="color" d="M90 5.7735026918963a20 20 0 0 1 20 0l66.602540378444 38.452994616207a20 20 0 0 1 10 17.320508075689l0 76.905989232415a20 20 0 0 1 -10 17.320508075689l-66.602540378444 38.452994616207a20 20 0 0 1 -20 0l-66.602540378444 -38.452994616208a20 20 0 0 1 -10 -17.320508075689l1.2248507893153e-13 -76.905989232415a20 20 0 0 1 10 -17.320508075689"></path>
    <image *ngIf='image != "" || image != "undefined"' width="200" height="200" [attr.xlink:href]="imagePath"/>
    <text *ngFor="let text of textData; let i = index" [attr.fill]="textColor" [attr.x]="xTablet" [attr.y]="+yTablet + (25 * i)">{{text}}</text>
</svg>
<svg *ngIf='type == "medium"' id="svg-hexagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150" height="150">
    <path [attr.stroke]="stroke" [attr.stroke-width]="strokeWidth" [attr.fill]="color" d="M65 5.7735026918963a20 20 0 0 1 20 0l44.951905283833 25.952994616207a20 20 0 0 1 10 17.320508075689l0 51.905989232415a20 20 0 0 1 -10 17.320508075689l-44.951905283833 25.952994616207a20 20 0 0 1 -20 0l-44.951905283833 -25.952994616208a20 20 0 0 1 -10 -17.320508075689l0 -51.905989232415a20 20 0 0 1 10 -17.320508075689"></path>
    <image *ngIf='image != "" || image != "undefined"' width="150" height="150" [attr.xlink:href]="imagePath"/>
    <text *ngFor="let text of textData; let i = index" [attr.x]="xMedium" [attr.y]="+yMedium + (25 * i)">{{text}}</text>
</svg>
<svg *ngIf='type == "small"' id="svg-hexagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100">
    <path [attr.stroke]="stroke" [attr.stroke-width]="strokeWidth" [attr.fill]="color" d="M40 5.7735026918963a20 20 0 0 1 20 0l23.301270189222 13.452994616207a20 20 0 0 1 10 17.320508075689l0 26.905989232415a20 20 0 0 1 -10 17.320508075689l-23.301270189222 13.452994616207a20 20 0 0 1 -20 0l-23.301270189222 -13.452994616207a20 20 0 0 1 -10 -17.320508075689l0 -26.905989232415a20 20 0 0 1 10 -17.320508075689"></path>
    <image *ngIf='image != "" || image != "undefined"' width="100" height="100" [attr.xlink:href]="imagePath"/>
    <text *ngFor="let text of textData; let i = index" [attr.x]="xSmall" [attr.y]="+ySmall + (25 * i)">{{text}}</text>
</svg>