.card-icon{
    color: orange;
    font-size: 48px;
}

ion-card{
    min-width: 300px;
    transition: all 300ms ease-in;
}

ion-card-header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

ion-card-title{
    color: gray;
}

ion-card:hover{
    background-color: lightgray;
    ion-card-header{
        ion-icon{
            color: white;
        }
        ion-card-title{
            color: white;
        }
    }
}

@media only screen and (max-width: 1000px){
    ion-card{
        border-radius: 25px;
    }
}