<ion-card (click)="navigate()">
  <ion-card-header>
    <ion-icon class="card-icon" [name]="icon"></ion-icon>
    <ion-card-subtitle>{{topic.subtitle}}</ion-card-subtitle>
    <ion-card-title>{{topic.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{topic.description}}
  </ion-card-content>
</ion-card>