<div class="dia-container">
  <h1 class="dia-title">{{title}}</h1>
  <div class="dia-main">
    <div class="dia-sidebar"><app-navigation [current]="pageKind"></app-navigation></div>
    <div class="dia-content" [class]="backgroundColor">
      <div class="dia-content-container">
        <div *ngFor="let topic of topics" class="hexagon-container">
          <app-hexagon [textData]="topic.content" [color]="hexagonColor" [textColor]="textColor" type="tablet" [image]="topic.image" [xTablet]="x" [yTablet]="y"></app-hexagon>
        </div>
      </div>
    </div>
    <div class="dia-sidebar"><app-pagination [page]="page"></app-pagination></div>
  </div>  
</div>