<ion-content>
  <div id="container">
    <ion-slides>
      <ion-slide>
        <app-quote page="1" [pageKind]="pageKind" title="Aanpak" quote="Legacy code" styling="red"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-detail page="2" [pageKind]="pageKind" background="blue" title="Aanpak">
          <ul>
            <li>SalesForce objecten</li>
            <li>Spreadsheets</li>
          </ul>
        </app-detail>
      </ion-slide>
      <ion-slide>
        <app-three-overview page="3" [pageKind]="pageKind" [topics]="flow" title="Aanpak" backgroundColor="white" hexagonColor="#7ed0dc"></app-three-overview>
      </ion-slide>
      <ion-slide>
        <app-detail page="4" [pageKind]="pageKind" background="blue" title="Aanpak">
          <ul>
            <li>Workflows</li>
            <li>Process builder</li>
            <li>Document generatie</li>
          </ul>
        </app-detail>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
