<ion-content>
  <div id="container">
    <ion-slides>
      <ion-slide>
        <app-video [link]="video" page="1" [pageKind]="pageKind" title="Demo onderzoek"></app-video>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>