<div (click)="navigate()" class="overview-container">
  <h1 class="overview-title">{{topic.title}}</h1>
  <img [src]="imagePath"/>
  <p class="overview-description">
    {{topic.description}}
  </p>
</div>
