.overview-container{
    color: grey;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    transition: all 300ms ease-out;
    text-align: center;
    opacity: 80%;
    padding: 32px;
}

.overview-title{
    color: orange;
    font-weight: bold;
}

img{
    max-width: 300px;
    height: 300px;
}

@media only screen and (min-width: 1000px){
    .overview-container:hover{
        background-color: lightgray;
        box-shadow: 8px 8px 16px #d6d6d6, 
                    -8px -8px 16px #ffffff;
        opacity: 100%;
        .overview-description{
            color: white;
        }
        .overview-title{
            color: white;
        }
    }
}

@media only screen and (max-width: 1000px){
    .overview-container{
        opacity: 100%;
        padding: 16px;
    }
}