.hexagon-card{
    border-radius: 25px;
    display: flex;
    flex-flow: row nowrap;
    padding: 16px;
    align-items: center;
    min-width: 300px;
    min-height: 200px;
}

.hexagon-card-vertical{
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
}

.hexagon-card-info{
    margin-left: 16px;
}

.start{
    text-align: start;
}

.center{
    text-align: center;
}

@media only screen and (max-width: 1000px){
    .hexagon-card-vertical{
        margin: 16px;
    }
}