<div *ngIf='type == "default"' class="hexagon-card">
  <div class="hexagon-card-icon">
    <app-hexagon [color]="hexagonColor" [image]="image"  type="small"></app-hexagon>
  </div>
  <div class="hexagon-card-info">
    <h1>{{title}}</h1>
    <p class="hexagon-card-description" [class]="textPosition" [innerHTML]="description"></p>
    <ng-content></ng-content>
  </div>
</div>
<div *ngIf='type == "vertical"' class="hexagon-card-vertical">
    <app-hexagon [color]="hexagonColor" [image]="image" type="medium"></app-hexagon>
    <h1>{{title}}</h1>
    <p class="hexagon-card-description" [class]="textPosition" [innerHTML]="description"></p>
    <ng-content></ng-content>
</div>