<div class="dia-container">
  <h1 class="dia-title">SalesForce</h1>
  <div class="dia-main">
    <div class="dia-content">
      <div class="dia-content-container">
        <app-hexagon *ngFor="let topic of topics" [color]="topic.color" [textData]='topic.title' [stroke]="topic.strokeColor" [strokeWidth]="topic.strokeWidth" [type]="hexagonType" x="105" y="125" xMedium="57" yMedium="75"></app-hexagon>
      </div>
    </div>
  </div>
</div>
