<ion-content>
  <div id="container">
    <ion-slides>
      <ion-slide>
        <app-detail page="1" [pageKind]="pageKind" background="blue" title="Stage">
          <ul>
            <li>Documentatie</li>
            <li>Varianten</li>
            <li>Communicatie</li>
          </ul>
        </app-detail>
      </ion-slide>
      <ion-slide>
        <app-detail page="2" [pageKind]="pageKind" image="research.png" background="blue" title="Onderzoek">
          <ul>
            <li>Authentiseer en autoriseer</li>
            <li>Performantie != leesbaarheid</li>
            <li>Use case</li>
          </ul>
        </app-detail>
      </ion-slide>
      <ion-slide>
        <app-image page="3" [pageKind]="pageKind" title="Vragen?" image="end.png"></app-image>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>