.dia-number{
    font-size: 56px;
}

.number-container{
    align-items: center;
    justify-content: center;
    display: inline-block;
    color: orange;
    padding: 16px;
}

@media only screen and (max-width: 1000px){
    .dia-number{
        font-size: 36px;
    }
    .number-container{
        margin: 16px 0px;
    }
}