<div class="dia-container">
  <h1 class="dia-title">{{title}}</h1>
  <div class="dia-main">
    <div class="dia-sidebar"><app-navigation [current]="pageKind"></app-navigation></div>
    <div class="dia-content" [class]="background">
      <div class="dia-content-container">
        <div class="dia-content-image">
          <app-hexagon [image]="image" color="white">
            <img [src]="source"/>
          </app-hexagon>
        </div>
        <div class="dia-content-info">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
    <div class="dia-sidebar"><app-pagination [page]="page"></app-pagination></div>
  </div>
</div>