.dia-container{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
}

.dia-content{
    box-shadow: 8px 8px 16px #d6d6d6, 
                -8px -8px 16px #ffffff;
    display: flex;
    flex-flow: column nowrap;
    flex: 10;
    height: 80%;
    width: 80%;
}

.dia-main{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.dia-content-container{
    align-items: center;
    background-position: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-evenly;
}

.dia-content-image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.dia-content-info{
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    line-height: 5em;
    text-align: start;
    font-size: 24px;
}

.dia-sidebar{
    flex: 1;
}

.dia-title{
    color: orange;
    font-weight: 900;
}

.grey{
    background: url("/assets/images/hexagon-peek-grey.png") 100% 100% no-repeat;
    background-position: center;
}

.blue{
    background: url("/assets/images/hexagon-peek-blue.png") 100% 100% no-repeat;
    background-position: center;
}

@media only screen and (max-width: 1000px){
    .blue{
        background: none;
        background-color: lightblue;
        color: white !important;
    }
    .grey{
        background: none;
        background-color: lightgray;
        color: white !important;
    }
    .dia-container{
        height: 100%;
    }

    .dia-content{
        padding-top: 16px;
        border-radius: 25px;
    }
    .dia-content-container{
        background: none;
        display: flex;
        flex-flow: column nowrap;
    }

    .dia-content-info{
        line-height: normal;
    }

    .dia-main{
        flex-flow: column nowrap;
    }
}