<ion-content>
  <div id="container">
    <ion-slides>
      <ion-slide>
        <app-image page="1" [pageKind]="pageKind" title="Inhoudstafel" image="research-inhoudstafel.png"></app-image>
      </ion-slide>
      <ion-slide>
        <app-quote page="2" [pageKind]="pageKind" title="Onderzoeksvraag" quote='"Wat zijn de kritische succesfactoren van een API?"' styling="red italic"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-quote page="3" [pageKind]="pageKind" title="Onderzoek" quote="Onderzochte API's" styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-four-overview page="4" [pageKind]="pageKind" backgroundColor="dark-grey" hexagonColor="white" title="Onderzochte API's" [topics]="apis"></app-four-overview>
      </ion-slide>
      <ion-slide>
        <app-quote page="5" [pageKind]="pageKind" title="Onderzoek" quote='API protocol' styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-three-overview page="6" [pageKind]="pageKind" [pageKind]="pageKind" backgroundColor="white" hexagonColor="#7ed0dc" title="API protocol" [topics]="protocols"></app-three-overview>
      </ion-slide>
      <ion-slide>
        <app-quote page="7" [pageKind]="pageKind" title="Onderzoek" quote='Structuur' styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-image page="8" [pageKind]="pageKind" image="structure.png"></app-image>
      </ion-slide>
      <ion-slide>
        <app-quote page="9" [pageKind]="pageKind" title="Onderzoek" quote='Dataformaat' styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-four-overview page="10" [pageKind]="pageKind" backgroundColor="dark-grey" hexagonColor="white" title="Dataformaat" [topics]="dataModels"></app-four-overview>
      </ion-slide>
      <ion-slide>
        <app-quote page="11" [pageKind]="pageKind" title="Onderzoek" quote='Security' styling="grey"></app-quote>
      </ion-slide>
      <ion-slide>
        <app-detail page="12" [pageKind]="pageKind" image="sla.png" title="Service Level Agreement">
          <ul>
            <li>Overeenkomst</li>
            <li>Gebruik</li>
            <li>Referentie</li>
          </ul>
        </app-detail>
      </ion-slide>
      <ion-slide>
        <app-detail page="13" [pageKind]="pageKind" background="blue" image="basic-auth.png" title="Basic Authenticatie">
          <ul>
            <li>Simpel</li>
            <li>Login</li>
            <li>Gevaarlijk</li>
          </ul>
        </app-detail>
      </ion-slide>
      <ion-slide>
        <app-detail page="14" [pageKind]="pageKind" background="blue" image="key-auth.png" title="API Key">
          <ul>
            <li>Simpel</li>
            <li>Account gebonden</li>
            <li>Uitbreidbaar met scope</li>
          </ul>
        </app-detail>
      </ion-slide>
      <ion-slide>
        <app-detail page="15" [pageKind]="pageKind" background="blue" image="oauth-auth.png" title="OAuth 2.0">
          <ul>
            <li>Autorisatie</li>
            <li>Tijdsgebonden</li>
            <li>Herbruikbaar</li>
          </ul>
        </app-detail>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>