.home-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-sidebar{
  align-items: center;
  color: grey ;
  display: flex;
  flex: 3;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.home-content{
  display: flex;
  flex: 6;
  flex-flow: column nowrap;
  height: 100%;
}

.home-content-main{
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
}

.home-content-title{
  color: gray;
  text-align: center;
}

.qr-code{
  transition: box-shadow 300ms ease-in;
}

.qr-code:hover{
  box-shadow: 5px 5px 5px 0px gray;
}

@media only screen and (max-width: 1000px){
  .home-container{
    height: 100%;
    width: 100%;
    flex-flow: column nowrap;

    .home-content{
      order: 1
    }

    #me{
      order: 2;
    }

    #where{
      order: 3;
    }
  }
}