<ion-content>
  <div id="container">
    <div class="home-container">
      <div id="me" class="home-sidebar">
        <h1 class="sidebar-title">Mezelf?</h1>
        <app-hexagon-card textPosition="center" description="Scan or click me!" hexagonColor="white" image="aaron.png" title="Aäron Noels" type="vertical">
          <a href="http://aaronnoels2010.github.io">
            <img class="qr-code" src="/assets/images/aaron-qr.png" width="150" height="150"/>
          </a>
        </app-hexagon-card>
      </div>
      <div class="home-content">
        <h1 class="home-content-title">Allocate to integrate platform</h1>
        <div class="home-content-main">
          <app-card [topic]="topics[0]" icon="clipboard-outline"></app-card>
          <app-card [topic]="topics[1]" icon="hammer-outline"></app-card>
          <app-card [topic]="topics[2]" icon="ellipsis-horizontal-outline"></app-card>
          <app-card [topic]="topics[3]" icon="chatbubble-outline"></app-card>
        </div>
      </div>
      <div id="where" class="home-sidebar">
        <h1 class="sidebar-title">Waar?</h1>
        <app-hexagon-card textPosition="center" description="Scan or click me!" hexagonColor="white" image="bewire.png" title="Bewire" type="vertical" >
          <a href="https://bewire.be">
            <img class="qr-code" src="/assets/images/bewire-qr.png" width="150" height="150"/>
          </a>
        </app-hexagon-card>
      </div>
    </div>
  </div>
</ion-content>
