.dia-container{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.dia-content{
    box-shadow: 8px 8px 16px #d6d6d6, 
                -8px -8px 16px #ffffff;
    height: 80%;
    width: 80%;
}

.dia-content-container{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
}

.dia-main{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.dia-title{
    color: orange;
    font-weight: 900;
}

@media only screen and (max-width: 1000px){
    .dia-content{
        box-shadow: none;
    }
}