<div class="dia-container">
  <h1 class="dia-title">{{title}}</h1>
  <div class="dia-main">
    <div class="dia-content">
      <div class="dia-content-container">
        <app-hexagon [color]="topic.color" [textColor]="topic.textColor" [textData]='topic.title' [stroke]="topic.strokeColor" [strokeWidth]="topic.strokeWidth" [type]="hexagonType" x="70" y="70"></app-hexagon>
      </div>
    </div>
  </div>
</div>