<ion-content>
  <div id="container">
    <ion-slides>
      <ion-slide>
        <app-detail page="1" [pageKind]="pageKind"  title="CV-tool" image="service.png" background="blue">
          <div>
            <ul>
              <li><h1>Code onbekend</h1></li>
              <li><h1>Niet uitbreidbaar</h1></li>
            </ul>
          </div>
        </app-detail>
      </ion-slide>
      <ion-slide>
        <app-detail page="2" [pageKind]="pageKind" title="Plug-in" image="wordpress.png" background="blue">
          <div>
            <ul>
              <li><h1>Registraties</h1></li>
              <li><h1>Omslachtig</h1></li>
              <li><h1>Flexibel</h1></li>
            </ul>
          </div>
        </app-detail>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
