.overview-container{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.overview-card-container{
    margin: 32px;
}

@media only screen and (max-width: 1000px){
    .overview-container{
        height: 100%;
        flex-flow: column nowrap;
        overflow-y: auto;
        width: 100%;
    }

    .overview-card-container{
        box-shadow: 8px 8px 16px #d6d6d6, 
                    -8px -8px 16px #ffffff;
        border-radius: 25px;
    }
}