<div class="navigation-container">
  <ion-icon [routerLink]="['/']" icon="home-outline"></ion-icon>
  <ion-icon [routerLink]="['/overview']" *ngIf="current != 'overview'" icon="clipboard-outline"></ion-icon>
  <ion-icon [routerLink]="['/approach']" *ngIf="current != 'approach'" icon="hammer-outline"></ion-icon>
  <ion-icon [routerLink]="['/next']" *ngIf="current != 'next'"  icon="ellipsis-horizontal-outline"></ion-icon>
  <ion-icon [routerLink]="['/reflection']" *ngIf="current != 'reflection'" icon="chatbubble-outline"></ion-icon>
</div>
