.navigation-container{
    color: orange;
    display: flex;
    flex-flow: column nowrap;
    font-size: 56px;
    justify-content: center;
    align-items: center;
}

ion-icon{
    margin: 16px 0px
}

@media only screen and (max-width: 1000px){
    ion-icon{
        margin: 16px 16px
    }
    .navigation-container{
        flex-flow: row nowrap;
        font-size: 36px;
    }
}