@import "../../../../global.scss";

.card-hexagon-container{
    display: flex;
    min-width: 50%;
}

.dia-container{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.dia-content{
    box-shadow: 8px 8px 16px #d6d6d6, 
                -8px -8px 16px #ffffff;;
    display: flex;
    flex-flow: column nowrap;
    flex: 10;
    height: 80%;
    width: 80%;
}  

.dia-content-container{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    margin-left: 16px;
}

.dia-main{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.dia-sidebar{
    flex: 1;
}

.dia-title{
    color: orange;
    font-weight: 900;
}


.blue{
    background-color: $bewire-blue;
    color: $white;
}

.red{
    background-color: $bewire-red;
    color: $white;
}

.grey{
    background-color: $bewire-grey;
    color: $white;
}

.dark-grey{
    background-color: grey;
    color: $white;
}

.white{
    background-color: $bewire-white;
    color: grey;
}

@media only screen and (max-width: 1000px){
    .card-hexagon-container{
        width: 350px;
        border-radius: 25px;
        box-shadow: 8px 8px 16px #d6d6d6, 
                    -8px -8px 16px #ffffff;
        margin-bottom: 16px;
    }

    .dia-container{
        height: 100%;
    }

    .dia-content{
        background-color: none !important;
        box-shadow: none;
    }

    .dia-content-container{
        display: flex;
        flex-flow: column nowrap;
    }

    .dia-main{
        flex-flow: column nowrap;
    }
}
