<div class="dia-container">
  <h1 class="dia-title">{{title}}</h1>
  <div class="dia-main">
    <div class="dia-sidebar"><app-navigation [current]="pageKind"></app-navigation></div>
    <div class="dia-content" [ngClass]="!mobile ? backgroundColor : ''">
      <div class="dia-content-container">
        <div *ngFor="let topic of topics" class="card-hexagon-container" [ngClass]="mobile ? backgroundColor : ''">
          <app-hexagon-card [hexagonColor]="hexagonColor" [image]="topic.image" [title]="topic.title" [description]="topic.description"></app-hexagon-card>
        </div>
      </div>
    </div>
    <div class="dia-sidebar"><app-pagination [page]="page"></app-pagination></div>
  </div>
</div>